<a href="https://colab.research.google.com/github/natasaivic/ml/blob/main/sorted_similarity_indexes_demo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
import pandas as pd
import numpy as np

from sklearn.metrics.pairwise import cosine_similarity

In [18]:
df1 = pd.DataFrame([{'c1':2, 'c2':10}, {'c1':10,'c2':100}, {'c1':20,'c2':1000}, {'c1':5,'c2':10000}, {'c1':2000,'c2':1000}])
cosine_sim1 = cosine_similarity(df1)
cosine_sim1

array([[1.        , 0.99522853, 0.98430616, 0.98067861, 0.61394061],
       [0.99522853, 1.        , 0.99682792, 0.99508682, 0.53399299],
       [0.98430616, 0.99682792, 1.        , 0.99980993, 0.46500915],
       [0.98067861, 0.99508682, 0.99980993, 1.        , 0.44766075],
       [0.61394061, 0.53399299, 0.46500915, 0.44766075, 1.        ]])

In [19]:
similarities_df1 = pd.DataFrame(cosine_sim1)
similarities_df1

          0         1         2         3         4
0  1.000000  0.995229  0.984306  0.980679  0.613941
1  0.995229  1.000000  0.996828  0.995087  0.533993
2  0.984306  0.996828  1.000000  0.999810  0.465009
3  0.980679  0.995087  0.999810  1.000000  0.447661
4  0.613941  0.533993  0.465009  0.447661  1.000000

In [20]:
result = {}
for index, row in df1.iterrows():
    print(index, row['c1'], row['c2'])
    similar_values = list(enumerate(similarities_df1.iloc[index]))
    print("Cosine similarity values:")
    print(similar_values)
    similar_values = sorted(similar_values, key=lambda x: x[1], reverse=True)
    print("Sorted cosine similarity: ")
    print(similar_values)

    similar_ids = []
    for id, similarity in similar_values[1:]:
      if similarity > 0:
        similar_ids.append(id)
    print("Cosine similarity indexes: ")
    print(similar_ids)
    print("")
    result[index] = ",".join(str(index) for index in similar_ids)

print("")
print("=============")
print("")
print(result)

0 2 10
Cosine similarity values:
[(0, 1.0000000000000002), (1, 0.99522852511998), (2, 0.9843061568445018), (3, 0.9806786111736706), (4, 0.6139406135149205)]
Sorted cosine similarity:
[(0, 1.0000000000000002), (1, 0.99522852511998), (2, 0.9843061568445018), (3, 0.9806786111736706), (4, 0.6139406135149205)]
Cosine similarity indexes:
[1, 2, 3, 4]

1 10 100
Cosine similarity values:
[(0, 0.99522852511998), (1, 1.0), (2, 0.9968279189391933), (3, 0.9950868176836553), (4, 0.5339929913879817)]
Sorted cosine similarity:
[(1, 1.0), (2, 0.9968279189391933), (0, 0.99522852511998), (3, 0.9950868176836553), (4, 0.5339929913879817)]
Cosine similarity indexes:
[2, 0, 3, 4]

2 20 1000
Cosine similarity values:
[(0, 0.9843061568445018), (1, 0.9968279189391933), (2, 1.0), (3, 0.999809933004373), (4, 0.4650091467889218)]
Sorted cosine similarity:
[(2, 1.0), (3, 0.999809933004373), (1, 0.9968279189391933), (0, 0.9843061568445018), (4, 0.4650091467889218)]
Cosine similarity indexes:
[3, 1, 0, 4]

3 5 10000
Cosine similarity values:
[(0, 0.9806786111736706), (1, 0.9950868176836553), (2, 0.999809933004373), (3, 1.0000000000000002), (4, 0.4476607531378673)]
Sorted cosine similarity:
[(3, 1.0000000000000002), (2, 0.999809933004373), (1, 0.9950868176836553), (0, 0.9806786111736706), (4, 0.4476607531378673)]
Cosine similarity indexes:
[2, 1, 0, 4]

4 2000 1000
Cosine similarity values:
[(0, 0.6139406135149205), (1, 0.5339929913879817), (2, 0.4650091467889218), (3, 0.4476607531378673), (4, 0.9999999999999999)]
Sorted cosine similarity:
[(4, 0.9999999999999999), (0, 0.6139406135149205), (1, 0.5339929913879817), (2, 0.4650091467889218), (3, 0.4476607531378673)]
Cosine similarity indexes:
[0, 1, 2, 3]


=============

{0: '1,2,3,4', 1: '2,0,3,4', 2: '3,1,0,4', 3: '2,1,0,4', 4: '0,1,2,3'}